main{
    text-align: center;
}
li{
    text-align: center;
}
fotter{
    text-align: center;
    background: rgb(5, 144, 7);
    color: whitesmoke;
}
div{
    text-align: center;
}
ul {
  width: fit-content;    
  margin-left: auto;  
  margin-right: auto;  
}
p{
  width: fit-content;    
  margin-left: auto;  
  margin-right: auto;  
}
header{
    text-align: center;
}
nav{
    text-align: center;
    color: red;
    background-color: rgb(0, 32, 216);
}
h1{
    color:rgb(248, 248, 248);
    background-color: rgb(255, 201, 22);
}
p{
    color: teal;
}
aside{
    text-decoration: none;
    color: aliceblue;
    background: black;

}
a{
    color: aliceblue;
}
h2{
    color: burlywood;
    background-color: darkred;
    text-decoration: yellowgreen underline dotted;
}

ul{
    color: rgb(122, 0, 236);
    background-color: rgb(176, 205, 147);
}
span{
    background: yellow;
}