.card{
    background-color: brown;
    height: 20px;
    width: 60px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    padding:  10px  10px ;

  
}
#row{
    
    background-color: azure;
    border: 2px solid black; 
    display:flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-content: center;
    gap: 20px;    
}
#col{
    
    background-color: azure;
    border: 2px solid black; 
    display:flex;  
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;     
    align-items: center;
    

}
