p::first-line{
    color: blanchedalmond;
    background-color: black;
}
p::selection{
    background-color: rgb(255, 0, 0);
}
P::first-letter{
    color: green;
    background-color: white;

}