.card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 8px pink;
    color: red;
    border-radius: 10px;
    background-color: gray;
    color: whitesmoke;
}
.card{
    background-color: black;
    color: white;
    height: 30px;
    width: 200px;
    text-align: center;
}
